.body-modal-forgot {
    display: flex;
    flex-direction: column;
}

.body-modal-forgot .form-input-code {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-modal-forgot .form-input-code Button {
    flex: 1;

    border-radius: 0 6px 6px 0;
}

.body-modal-forgot .form-input-code .input-modal-forgot {
    flex: 4;

}

.body-modal-forgot .input-modal-forgot {
    padding: 16.5px 14px;
    border: 1px solid gray;
    border-radius: 6px 0 0 6px;
    outline: none;
    background-color: rgba(22, 24, 35, .06);
}

.body-modal-forgot.input-modal-forgot:focus {
    border: 1px solid blue;
}

.body-modal-forgot.input-modal-forgot:hover {
    border: 1px solid blue;
}