.product-container {
  position: absolute;
  z-index: 100;
  animation: fly_to_cart 1s ease-in-out infinite;
}

@keyframes fly_to_cart {
  0% {
    left: 0;
    top: 0;
  }
  
  45%, 50%{
    left: var(--left);
    top: 60px;
  }

  80%, 90% {
    left: var(--left);
    top: var(--top);
    transform: scale(.2);
  }

  100% {
    left: calc(var(--left) + 40px);
    top: var(--top);
    transform: scale(.2);
    opacity: 0;
  }
}
