.app {
  position: relative;
<<<<<<< HEAD
  min-height: 270vh;
  background-color: #f0f0f0;
=======
>>>>>>> 6e985f454b0c43461bf33a5bf5bc0e9bbc2ca4fa
}

footer {
  bottom: 0;
  width: 100%;
  margin-top: auto;
  color: white;
  max-height: 100vh;
}
