@keyframes falling {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.phong {
    position: relative;
    animation: falling 3s;
}

@keyframes slideInRight {
    0% {
        transform: translateX(-2000%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.button-animation {
    position: 'relative';
    animation: slideInRight 10s forwards;
}